NODE_ENV=
MONGO_TEST_CONNECTION=mongodb://127.0.0.1:27017/test
MONGO_CONNECTION=mongodb://127.0.0.1:27017/main
JWT_SECRET=
VERIFYING_CONTRACT=
CHAIN_ID=
EIP712_DOMAIN_NAME="Treejer Protocol"
EIP712_VERSION=1



# -------------- cofign for blockchian listener

POLL_INTERVAL=13000
CONFIRMATIONS=12
CHUNK_SIZE=1
CONCURRENCY=10
BACK_OFF=1000